@charset "utf-8";
body {
    background: white;
    animation: bgchange 20s ease;
}
@keyframes bgchange{
    10%   {background:gold(243, 224, 120);}
    20%  {background:rgb(182, 240, 120);}
    30%  {background:rgb(12, 167, 120);}
    40%  {background:rgb(27, 194, 120);}
    50%  {background:rgb(39, 122, 120);}
    60%  {background:rgb(85, 85, 120);}
    70%  {background:rgb(169, 15, 120);}
    80%  {background:rgb(212, 17, 120);}
    90%  {background:rgb(231, 53, 120);}
    100%  {background:rgb(230, 137, 120);}
}



p{
    font-family:Arial;
}

h1 {
    font-family:Arial;
    font-weight: bold;
    padding: 0.5em 1em;
    color: #fff;
    position: relative;
    
}


h1:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: #2eabe9;
    transform: skew(-10deg);
    z-index: -1;

}

.box{
    padding: 0.5em 1em;
    margin: 1em 0;
    background: #f5efef;
    border-left: solid 6px #2eabe9;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}
.box h2 {
    margin: 0; 
    padding: 0;
}

.box2 {
    width:200px;
    padding: 0.5em 1em;
    margin: 0;
    color: white;
    background: #2eabe9;
    border-bottom: solid 6px #3069a1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.box2 p {
    margin: 0; 
    padding: 0;
}

.box3 {
    width:300px;
    padding: 0.5em 1em;
    margin: 0;
    color: white;
    background: #2eabe9;
    border-bottom: solid 6px #3069a1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.box3 p {
    margin: 0; 
    padding: 0;
}

.box4 {
    width:150px;
    padding: 0.5em 1em;
    margin: 0;
    color: white;
    background: #2eabe9;
    border-bottom: solid 6px #3069a1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.box4 p {
    margin: 0; 
    padding: 0;
}

.box5 {
    height: 40px;
    width:250px;
    padding: 0.5em 1em;
    margin: 0;
    color:white
;
    background: #2eabe9;
    border-bottom: solid 6px #3069a1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.box5 p {
    margin: 0; 
    padding: 0;
    text-align: center;
}


h2{
    font-family:Arial;
}

div#zentai1 {
    
    font-weight: bold;
    font-family: Arial;
    border-bottom: 2px solid white;
    background-color: white;
    width: 27%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px;
    white-space: nowrap;
    background: radial-gradient(circle at 10% 20%, white 5%, transparent 10%),
                radial-gradient(circle at 30% 60%, white 5%, transparent 10%),
                radial-gradient(circle at 50% 10%, white 5%, transparent 10%),
                radial-gradient(circle at 70% 50%, white 5%, transparent 10%),
                radial-gradient(circle at 90% 90%, white 5%, transparent 10%);
    background-size: 100px 100px;
    
}
div#zentai1 {
    background-color:#2eabe9 ;
}


div#zentai2 {
    font-weight: bold;
    font-family: Arial;
    border-bottom: 2px solid white;
    width: 45%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px;
    white-space: nowrap;
    background: radial-gradient(circle at 10% 20%, white 5%, transparent 10%),
                radial-gradient(circle at 30% 60%, white 5%, transparent 10%),
                radial-gradient(circle at 50% 10%, white 5%, transparent 10%),
                radial-gradient(circle at 70% 50%, white 5%, transparent 10%),
                radial-gradient(circle at 90% 90%, white 5%, transparent 10%);
    background-size: 100px 100px;
}
div#zentai2 {
    background-color:#2eabe9 ;
}

div#zentai3 {
    font-weight: bold;
    font-family: Arial;
    border-bottom: 2px solid white;
    width: 31%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px;
    white-space: nowrap;
    background: radial-gradient(circle at 10% 20%, white 5%, transparent 10%),
                radial-gradient(circle at 30% 60%, white 5%, transparent 10%),
                radial-gradient(circle at 50% 10%, white 5%, transparent 10%),
                radial-gradient(circle at 70% 50%, white 5%, transparent 10%),
                radial-gradient(circle at 90% 90%, white 5%, transparent 10%);
    background-size: 100px 100px;
}
div#zentai3 {
    background-color:#2eabe9 ;
}

div#zentai4 {
    font-weight: bold;
    font-family: Arial;
    border-bottom: 2px solid white;
    width: 33%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px;
    white-space: nowrap;
    background: radial-gradient(circle at 10% 20%, white 5%, transparent 10%),
                radial-gradient(circle at 30% 60%, white 5%, transparent 10%),
                radial-gradient(circle at 50% 10%, white 5%, transparent 10%),
                radial-gradient(circle at 70% 50%, white 5%, transparent 10%),
                radial-gradient(circle at 90% 90%, white 5%, transparent 10%);
    background-size: 100px 100px;
}
div#zentai4 {
    background-color:#2eabe9 ;
}

div#zentai5{
    font-weight: bold;
    font-family: Arial;
    border-bottom: 2px solid white;
    width: 25%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px;
    white-space: nowrap;
    background: radial-gradient(circle at 10% 20%, white 5%, transparent 10%),
                radial-gradient(circle at 30% 60%, white 5%, transparent 10%),
                radial-gradient(circle at 50% 10%, white 5%, transparent 10%),
                radial-gradient(circle at 70% 50%, white 5%, transparent 10%),
                radial-gradient(circle at 90% 90%, white 5%, transparent 10%);
    background-size: 100px 100px;
}
div#zentai5 {
    background-color:#2eabe9 ;
}


div#zentai {
	display: grid;
	grid-template-columns:1fr 1fr;
	height: 200px;
	grid-gap: 10px;
}

div#zentai > div {
    border-left: solid 6px #2eabe9;
	margin-left: 5px;
	background-color:#f5efef ;
}


  