p {
	font-family:Arial;
	color: navy;
	font-style: inherit;
}

p.info {
	font-family:Arial;
	font-size: small;
	background-color:#dfdfdf ;
}
h1 { 
	font-family:Arial;
	color: white;
	text-shadow:0 0 5px navy;
}

h2 {
	font-weight: bold;
	font-family: cursive;
	color:#3f3faf;
	margin: 5px;
	background: linear-gradient(.25turn, white, 35%, #ffefaf)
}

div#zentai {
	display: grid;
	grid-template-columns:1fr 1fr;
	height: 200px;
	grid-gap: 10px;
}

div#zentai > div {
	margin-left: 5px;
	background-color: #ffefaf;
}

img.sign {
    float: right;
}